# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/
venv/
*.egg-info/
dist/
build/

# Node.js / Next.js
node_modules/
.next/
out/
build/
.env*.local
.env

# Mac specific
.DS_Store

# Editor specific (add for VS Code/Cursor if hbjjbjneeded)
.vscode/
.cursor-cache/